{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-array-constructor": 0,
    "no-confusing-arrow": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-debugger": 1,
    "no-fallthrough": 0,
    "no-mixed-operators": 0,
    "no-redeclare": 0,
    "no-unused-vars": 0,
    "valid-typeof": 0
  }
}
